.social-icons 
ul.social-icons__list
  li.social-icons__item
    a(href='https://vk.com/tibhar82' target="link").social-icons__link
      svg
        use(xlink:href="assets/img/sprite.svg#vk")
  li.social-icons__item
    a(href='https://github.com/BlackRose82' target="link").social-icons__link
      svg
        use(xlink:href="assets/img/sprite.svg#github")
  li.social-icons__item
    a(href='www.linkedin.com/in/cristina-shapira' target="link").social-icons__link
      svg
        use(xlink:href="assets/img/sprite.svg#in")