.social-list
    ul.social-list__item
        li.social-list__item--works
            a(href="works.html").social-list__link Мои работы
        li.social-list__item--about
            a(href="about.html").social-list__link Обо мне
        li.social-list__item--blog
            a(href="blog.html").social-list__link Блог
        