.wrapper.welcome
	.container.welcome-header
		.btn__btn-link(type="button")(a href="/#autorisation") Авторизоваться

	.welcome-block
		include ../blocks/_welcome-avatar
		include ../blocks/_social-icons
        include ../blocks/_social-list
        
        
		
		 





