extends ../_template

block variables
  - var title = 'My works'

block content
    .wrapper
        .page-header__works
            include ../common/_header
            include ../blocks/_welcome-avatar
        .arrow-next
            svg
              use(xlink:href="assets/img/sprite.svg#arrow_down")
        a.arr-down__link(href="#")
            include ../common/_section
   

        
    
        